@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
:root {
    --white: #ffffff;
    --salmon: #f4a261;
    --ice: #e1e8f7;
    --grey: #808080;
    --blue: #1d61dd;
    --wine: #612137;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    border: 0;
    background: var(--wine);
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
}

header {
    height: calc(100vh - 150px);
    background: no-repeat center/cover url('assets/header-image.jpg');
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
}

header nav a {
    text-decoration: none;
    color: var(--white);
    display: block;
}

header nav p {
    font-weight: bold;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 15px;
    font-weight: bold;
    color: var(--white);
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 4rem;
    text-shadow: 2px 2px var(--white);
}

.pacotes {
    background: var(--ice);
    padding: 15px;
}

.pacotes .pacotes-title {
    width: 100%;
    text-align: center;
    margin: 25px 0;
}

.pacotes .pacotes-cards {
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
}

.pacotes .card {
    width: 250px;
    height: 350px;
    border-radius: 24px 0px;
    background: var(--white);
    margin: 25px 25px;
    position: relative;
}

.pacotes .card .card-tag-top {
    position: absolute;
    right: 0;
    top: 15px;
    background: var(--wine);
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.pacotes .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 160px;
    background: var(--blue);
    border-radius: 0 8px 8px 0;
    padding: 5px 10px;
}

.pacotes .card .card-tag-bottom p {
    margin: 0;
    font-size: 0.8rem;
    color: var(--white);
    /* font-weight: bold; */
}

.pacotes .card .card-tag p {
    margin: 0;
    font-size: 0.8rem;
    color: var(--white);
    /* font-weight: bold; */
}

.pacotes .card-image {
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
    object-fit: cover;
}

.pacotes .card-content {
    padding: 0 15px;
}

.pacotes .card-content ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.pacotes .card-content ul li {
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    margin: 3px 0;
    color: var(--grey);
    font-weight: bold;
}

.pacotes .card-content li svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.pacotes .card-content h1 {
    font-size: 1rem;
}

.servicos {
    padding: 15px;
}

.servicos .servicos-title {
    text-align: center;
    margin: 35px 0;
}

.servicos .servicos-cards {
    margin-top: 25px;
    display: flex;
    max-width: 950px;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.servicos .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.servicos .card svg {
    width: 60px;
    height: 60px;
    margin: 50px 0;
    transition: all 1s;
}

.servicos .card svg:hover {
    stroke: var(--blue);
    transform: scale(1.1);
}

.servicos .card .card-content {
    height: 180px;
    text-align: center;
}

.servicos .card h3 {
    font-weight: bold;
}

.servicos .card p {
    color: var(--grey);
    font-size: .8rem;
    text-align: center;
}

.servicos button {
    background: var(--blue);
}

#map {
    height: 400px;
    width: 100%;
}


/* RESPONSIVIDADE */


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {}


/* Landscape phones and down */

@media (max-width: 480px) {
    body {
        margin-bottom: 55px;
    }
    header nav ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 99;
        background: var(--wine);
        color: var(--white);
        font-weight: bold;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav p {
        width: 100%;
        text-align: center;
    }
}


/* Portrait tablet to landscape and desktop */


/* @media (min-width: 768px) and (max-width: 979px) {
    header {
        background: red;
    }
} */


/* Large desktop */


/* @media (min-width: 1200px) {
    header {
        background: hotpink;
    }
} */